.wrapper {
  max-width: 1200px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.quizcard {
  margin-top: 10%;
  display: flex;
  flex-direction: column;
  min-height: 65vh;
  width: 80%;
  gap: 10vh;
  padding: 1rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  background-color: var(--very-light-green);
  border: 1px solid var(--dark-green);
  border-radius: 10px;
}
.quizcard:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.quizcard__qutNum {
  display: block;
  text-align: left;
  font-weight: bold;
  font-size: 1.2em;
  margin-bottom: 1rem;
}
.quizcard__qutNumSmall {
  font-size: small;
}
.quizcard__qut {
  text-align: center;
}
.quizcard__ansDiv {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  gap: 1rem;
}
.quizcard__ansContainer {
  width: 90%;
  display: grid;
  grid-template-columns: 1fr;
}
.ansBtn {
  width: 70%;
  padding: 0.8rem;
  font-size: 0.7em;
  margin-left: 15%;
  display: inline-block;
  background-color: var(--dark-green);
  color: var(--light-green);
  border: 1px solid var(--dark-green);
  border-radius: 5px;
  font-weight: bold;
  transition: background-color 0.2s;
}
.ansBtn:hover {
  background-color: var(--very-light-green);
  color: var(--grey);
}
.selected {
  width: 70%;
  padding: 0.8rem;
  font-size: 0.7em;
  margin-left: 15%;
  display: inline-block;
  background-color: var(--light-green);
  color: var(--dark-green);
  border: 1px solid var(--dark-green);
  border-radius: 5px;
  font-weight: bold;
}
.next-btn {
  font-size: 0.7em;
  margin-inline: auto;
  width: 50%;
  background-color: var(--very-light-green);
  border: 1px solid var(--dark-green);
  color: var(--dark-green);
  border-radius: 5px;
  padding: 0.4em;
  margin-left: 55%;
  font-weight: bold;
  margin-top: 5%;
  font-weight: bold;
}
.next-btn:hover{
  background-color: var(--dark-green);
  color: var(--light-green);
}
.showScore {
  display: flex;
  flex-direction: column;
  height: 30vh;
  width: 75%;
  gap: 2em;
  padding: 1rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  background-color: var(--very-light-green);
  border: 1px solid var(--dark-green);
  border-radius: 10px;
}
.showScore:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.showScore h2 {
  font-size: 1.3em;
  text-align: center;
  margin-top: 10%;
}
.resetBtn {
  margin-left: 6%;
  background-color: var(--dark-green);
  color: var(--light-green);
  border: none;
  width: 15em;
  border-radius: 15px;
  padding: 1em;
  font-weight: bold;
  margin-top: 10%;
}

@media only screen and (min-width: 30.02rem) and (max-width: 64rem) {
  .quizcard {
    width: 50%;
    min-height: 40vh;
  }
  .wrapper {
    align-items: flex-start;
    justify-content: center;
  }
  .resetBtn {
    margin-inline: auto;
  }
  .showScore {
    height: 25vh;
  }
}
@media only screen and (min-width: 64.02rem) {
  .quizcard {
    display: grid;
    grid-template-columns: 40% 60%;
    width: 50%;
    height: 50vh;
    gap: 2rem;
    padding: 2rem;
  }
  .quizcard__ansDiv {
    width: 90%;
    display: grid;
    grid-template-columns: 1fr;
  }
  .ansBtn,
  .selected {
    width: 90%;
  }
  .next-btn{
    border: none;
  }
  .showScore {
    height: 50vh;
    width: 50%;
    padding: 2rem;
  }
  .showScore h2 {
    font-size: 2rem;
  }
  .resetBtn {
    margin-left: 50%;
  }
}
