.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.quizcard {
  display: grid;
  grid-template-columns: 40% 60%;
  width: 50%;
  height: 50vh;
  gap: 2rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  background-color: var(--very-light-green);
  max-width: 50%;
  border: 1px solid var(--dark-green);
  border-radius: 10px;
  padding: 2rem;

}
.quizcard:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.quizcard__qutNum {
    display: block;
  text-align: left;
  font-weight: bold;
  font-size: 1.2em;
  margin-bottom: 1rem;
}
.quizcard__qutNumSmall {
  font-size: small;
}
.quizcard__qut {
  text-align: center;
  border: 0chq;
}
.quizcard__ansDiv {
  width: 90%;
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}
.ansBtn {
  background-color: var(--dark-green);
  color: var(--light-green);
  border: 1px solid var(--dark-green);
  border-radius: 15px;
  /* width: 100px; */
  padding: 0.5em;
  font-weight: bold;
  transition: background-color 0.2s;
}
.ansBtn:hover {
  background-color: var(--very-light-green);
  color: var(--grey);
}
.showScore{
  height: 50vh;
  width: 50%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  background-color: var(--very-light-green);
  max-width: 50%;
  border: 1px solid var(--dark-green);
  border-radius: 10px;
  padding: 2rem;
}
.showScore:hover{
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.showScore h2{
  font-size: 2rem;
  text-align: center;
  margin-top: 10%;
}
.resetBtn{
  margin-inline: auto;
  background-color: var(--dark-green);
    color: var(--light-green);
    border: none;
    width: 15em;
    border-radius: 15px;
    padding: 1em;
    margin-left: 60%;
    font-weight: bold;
    margin-top: 9em;

}